{
    "development": {
        "username": "vspivak94",
        "password": "meloman1994",
        "database": "manufactura-test",
        "host": "93.72.190.134",
        "dialect": "postgres"
    }
}
